.descContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    color: #D0D6F9;
    margin-left: 15vw;
}

.desc {
    color: #D0D6F9;
    font-family: Barlow;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    width: 23.125vw;
    padding-top: 40vh;
}

.desc button {
   border: none;
   background: transparent;
   color: #FFF;
   font-size: 1rem;  
   text-transform: uppercase;
   letter-spacing: 2.7px;
   width: 5vw;
}

.desc button:hover{
    cursor: pointer;
}

.desc h1 {
    color: #FFF;
    font-family: Bellefair;
    font-size: 7.8125vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    
}

.desc h2 {
    text-transform: uppercase;
    letter-spacing: 2.7px;
}